h1{
    font-size:medium;
    text-align:center;
    font-family:'Times New Roman', Times, serif;
}
h2{
    color:blue;
    font-size:x-large;
    font-family:'Times New Roman', Times, serif;
}
p{
    font-size:medium;
    color:aqua;
    font-family:'Times New Roman', Times, serif;
}
h3{
    text-align:right;
    font-size:x-large;
    color:blue;
    font-family:'Times New Roman', Times, serif;
}