header{
    display:flex;
    flex-direction:row;
}
.logo img{
    width:10em;
    height:100px;
}
.logo #titre{
    font-style:italic;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.liens{
    margin-top:1em;
    margin-left:50em;
}
.liens a{
    margin-right:2em;
    list-style-type:none;
    display:inline;
    text-decoration:none;
    font-size:20px;
    color:black;
}
.liens a:hover{
    text-decoration:underline;
    color:aqua;
}
.tg :hover{
    transform:scale(0.9);
}
.tg img{
    width:100%;
    border-radius:2em;
}
.tg figcaption:hover{
    opacity:0.33;
    transition: 500ms ease-in-out;
    margin:auto;
}
.tg figcaption{
    text-shadow: 10px 10px 0px black;
    position: relative;
    bottom: 5.5em;
    width: 95%;
    padding: 1.5em;
    background-color: rgb(0, 0, 0, 0.5);
    color: white;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    font-size: 24px;
}
.bulk{
    display:flex;
    flex-direction:row;
}
.art{
    margin-right:20em;
    flex:2;
}
.tor{
    display:flex;
    flex-direction:row;
}
.tor img{
    width:200px;
    height:200px;
    border-radius:50%;
}
.p1::first-letter{
    font-weight:bold;
    font-size:25px;
}
.p1{
    text-indent:0.8cm;
    font-size:20px;
}
.info{
    float:right;
    flex:1;
    width:50%;
    height: 50em;
    background-color:black;
    color:white;
    padding:1.5em;
    margin-left:0.5em;
    margin-right:2.3em;
    border-radius:2em;
    box-shadow:rgba(0, 0, 0, 0.35) 0px;
}
.info #trump{
    padding: 0 3em 2em 2em
}
.p2 span{
    color:red;
}
.icones{
    display:flex;
    flex-direction:row;
}
.icones img{
    width:75px;
    height:75px;
    margin-left:2em;
    margin-right:2em;
}
.foot{
    display:flex;
    flex-direction:row;
}
.d1{
    
}