body{
    font-family:'Times New Roman', Times, serif;
    color:rgb(255, 255, 255);
    width:100%;
    background-image: url(Images/fond.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}
#titre{
    background-color:rgb(33, 216, 216);
    text-align:center;
}
#sous-titre{
    text-align:center;
    font-style:italic;
    font-weight:bold;
    font-size:35px;
    color:aquamarine;
}
.génie{
    align-items:center;
}
.génie h2{
    font-size:xx-large;
    color:aquamarine;
    text-align:center;
}
.génie p{
    font-size: 20px;
    width: 35em;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.2;
    text-align:center;
    margin-left: 25%;
}
.génie p:hover{
    transform:scale(1.2);
}
.citation{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    align-items: center;
    background-color:rgb(35, 159, 231);;
    margin:auto;
    padding:5%;
    width:75%;
    border-radius:20px;
}
.citation img{
    width:7cm;
    height:5cm;
    padding:1em;
}
.citation p{
    flex:1 1 0;
    color:black;
    font-size:x-large;
}